@media screen and (max-width: 1056px) {
  .proyectos_c div img {
    width: 130px;
    height: 65px;
  }

  .historia_c {
    display: block;
  }

  .contacto_c div iframe {
    width: 420px;
    height: 315px;
  }
  .novedad_secundaria{
    p{display: none;}
    
  }
}

@media screen and (max-width: 865px) {
  .proyectos_c div img {
    width: 130px;
    height: 65px;
  }

  .principal_img {
    display: none;
  }
  .principal_c {
    font-size: 15px;
  }

  .contacto_c div iframe {
    width: 294px;
    height: 220px;
  }
  footer {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 790px) {
  .novedad_principal {
    grid-row: span 2;
    grid-column: span 2;
  }

  

  .novedades_grid {
    grid-template-columns: 1fr 1fr;
  }

  .historia_video iframe {
    width: 448px;
    height: 252px;
  }
}

@media screen and (max-width: 680px) {
  .contacto_c {
    display: block;
    justify-self: center;
  }
}

@media screen and (max-width: 550px) {
  .novedades_grid {
    display: block;
  }

  .historia_video iframe {
    width: 313px;
    height: 176px;
  }
}
